package collector

import (
	"fmt"
	"strings"

	"github.com/antchfx/htmlquery"
	"github.com/go-resty/resty/v2"
)

var spider *spiderRepo

type spiderRepo struct {
	client *resty.Client
}

type itemCollectorResult struct {
	Title  string
	Magnet string
	Size   string
}

type listCollectorResult struct {
	Title string
	Data  []*itemCollectorResult
}

func init() {
	client := getDefaultClient()
	spider = &spiderRepo{
		client: client,
	}
}

func getDefaultClient() *resty.Client {
	c := resty.New()
	c.SetHeader("user-agent", "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.54 Safari/537.36")
	return c
}

{{- range .}}
func (s *spiderRepo) {{.Name}}(name string) (*listCollectorResult, error) {
	url := strings.ReplaceAll("{{.Source}}", "{query}", name)
	resp, err := s.client.R().Get(url)
	if err != nil {
		return nil, err
	}
	b := resp.Body()
	doc, err := htmlquery.Parse(strings.NewReader(string(b)))
	if err != nil {
		return nil, err
	}
	list := htmlquery.Find(doc, "{{.Item}}")
	res := &listCollectorResult{
		Title: name,
	}
	for _, v := range list {
		var title, magnet, size string
		if len("{{.Title}}") != 0 {
			titleNode := htmlquery.FindOne(v, "{{.Title}}")
			title = htmlquery.InnerText(titleNode)
		}
		if len("{{.Magnet}}") != 0 {
			magnetNode := htmlquery.FindOne(v, "{{.Magnet}}")
			magnet = htmlquery.InnerText(magnetNode)
		}
		if len("{{.Size}}") != 0 {
			sizeNode := htmlquery.FindOne(v, "{{.Size}}")
			size = htmlquery.InnerText(sizeNode)
		}
		item := &itemCollectorResult{
			Title:  title,
			Magnet: magnet,
			Size:   size,
		}
		res.Data = append(res.Data, item)
	}
	return res, nil
}
{{end}}
func Get(e string, q string) (*listCollectorResult, error) {
	switch e {
		{{- range .}}
		case "{{.Name}}":
		return spider.{{.Name}}(q)
		{{- end}}
	}
	return nil, nil
}
